<div class="container">
   <br />
  <div class="row">
    <div class="col">
      <h3>Create Order</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/orders/list" class="btn btn-secondary btn-sm">Back To Order List</a>
    </div>
  </div>
  <br />
  <form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group">
      <label for="orderID">Order No:</label>
      <input class="form-control form-control-lg"
             placeholder="Order"
             name="orderID"
             #orderID="ngModel"
             [(ngModel)]="service.formData.orderID"
             required [class.invalid]="orderID.invalid && orderID.touched"/>
    </div>
    <div class="form-group">
      <label for="orderName">Order</label>
      <input class="form-control form-control-lg"
             placeholder="Order"
             name="orderName"
             #orderName="ngModel"
             [(ngModel)]="service.formData.orderName"
             required [class.invalid]="orderName.invalid && orderName.touched"/>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input class="form-control form-control-lg"
             placeholder="Description"
             name="description"
             #description="ngModel"
             [(ngModel)]="service.formData.description"
             required [class.invalid]="description.invalid && description.touched" />
    </div>
    <div class="form-group">
      <label for="orderDetails.payment">Payment</label>
      <input class="form-control form-control-lg"
             placeholder="Payment"
             name="payment"
             #payment="ngModel"
             [(ngModel)]="service.formDataObj.payment"
             required />
    </div>
    <div class="form-group">
      <label>``</label>
      <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
</div>
